/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 35px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activities-cards img{

        height: 200px; 
    }
    .activities-cards .card-title {
        padding-left: 18px;
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 1;
    }
    
    .filters{
       flex-direction: column;
       align-items: flex-start;
    }
    
}